@font-face {
  font-family: Open Sans Light Italic;
  src: url(../fonts/Open_Sans/OpenSans-LightItalic.woff);
}

@font-face {
  font-family: Open Sans Light;
  src: url(../fonts/Open_Sans/OpenSans-Light.woff);
}

@font-face {
  font-family: Open Sans Semibold;
  src: url(../fonts/Open_Sans/OpenSans-Semibold.woff);
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: #002350;
  font-family: "Open Sans Light", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

a:hover {
  text-decoration: underline;
}

div.btn,
a.btn {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  padding: 0 10px;
  border: 1px solid rgba(0, 100, 200, 0.5);
  border-radius: 5px;
  display: block;
  float: left;
  height: 42px;
  margin-right: 8px;
}

div.btn label,
div.btn > form {
  height: 100%;
}

div.btn label {
  display: block;
  cursor: pointer;
  color: rgb(0, 100, 200);
}

div.btn label:hover {
  text-decoration: underline;
}

div.btn div,
a.btn > div {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  margin-top: 10px;
}

div.btn label,
a.btn > span {
  line-height: 40px;
}

input[type=file] {
  display: none;
}

.btns_cont {
  padding-left: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.btns_cont > div {
  display: inline-block;
}

img {
  height: 100px;
}

td, th {
  border: 1px solid rgba(0, 142, 204, .2);
  vertical-align: middle;
}

th {
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 16px;
  padding: 16px 0;
  font-weight: normal;
}

td {
  text-align: center;
  font-family: "Open Sans Light", sans-serif;
  padding: 8px;
}

td:last-child {
  text-align: left;
  vertical-align: top;
}

td:last-child a {
  display: block;
  font-size: 14px;
  font-family: "Open Sans Light", sans-serif;
  line-height: 1.5;
}

a.spoiler {
  font-size: 12px;
}

a.spoiler_item {
  font-size: 14px;
  margin: 3px;
}

.tut a {
  display: block;
}

.tut td {
  line-height: 25px;
}

div#sort_name {
  width: 10px;
  height: 10px;
  background-image: url(/index_assets/img/arrow.png);
  display: inline-block;
  margin-left: 4px;
}

div#sort_name.down {
  background-position: 0 0;
}

div#sort_name.down {
  background-position: 0 -10px;
}

#back_to_index div {
  background-size: 20px 20px;
  background-image: url(../img/back.png);
}

#new_project div {
  background-size: 20px 20px;
  background-image: url(../img/new.png);
}

label div {
  background-size: 20px 20px;
  background-image: url(../img/upload.png);
}

#export_project div {
  background-size: 20px 20px;
  background-image: url(../img/download.png);
}

#show_hide_b4w div {
  background-size: 20px 20px;
  background-image: url(../img/eye.png);
}

#help div {
  background-size: 20px 20px;
  background-image: url(../img/help.png);
}

div#body_opacity {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 35, 80, 0.8);
    display: none;
    overflow: hidden;
}

div#confirm_box {
    margin-left: -200px;
    margin-top: -100px;
    height: 200px;
    width: 400px;
    top: 50%;
    left: 50%;
    background-color: #fff;
    position: absolute;
    padding: 40px;
    box-sizing: border-box;
    display: none;
}

div#confirm_box h3 {
    font-family: Open Sans Semibold;
    font-size: 22px;
    padding: 0;
    margin: 0;
    line-height: 1.25;
    display: block;
    margin-bottom: 40px;
}

#allow_remove div {
    background-size: 20px 20px;
    background-image: url(../img/apply.png);
}

#deny_remove div {
    background-size: 20px 20px;
    background-image: url(../img/remove.png);
}

.input_group {
  text-align: center;
}

.input_group > a {
  display: inline-block;
  float: none;
}
