@font-face {
  font-family: Open Sans Light Italic;
  src: url(../fonts/Open_Sans/OpenSans-LightItalic.woff);
}

@font-face {
  font-family: Open Sans Light;
  src: url(../fonts/Open_Sans/OpenSans-Light.woff);
}

@font-face {
  font-family: Open Sans Semibold;
  src: url(../fonts/Open_Sans/OpenSans-Semibold.woff);
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: #002350;
  font-family: "Open Sans Light", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid rgba(0, 142, 204, .2);
  vertical-align: middle;
}

th {
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 16px;
  padding: 16px 0;
  font-weight: normal;
}

td:first-child {
  padding: 8px 16px;
  text-align: left;
  width: 20%;
  vertical-align: top;
}

td:first-child div {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Open Sans Light", sans-serif;
  cursor: pointer;
}

td:first-child div:hover {
  text-decoration: underline;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
  font-weight: normal;
}

a:hover {
  text-decoration: underline;
}

a.btn {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  padding: 0 10px;
  border: 1px solid rgba(0, 100, 200, 0.5);
  border-radius: 5px;
  display: block;
  float: left;
  height: 42px;
  margin-right: 8px;
}

a.btn > div {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  margin-top: 10px;
}

a.btn > span {
  line-height: 40px;
}

.btns_cont {
  padding-left: 8px;
  text-align: center;
  margin: 20px 0;
}

.btns_cont > div {
  display: inline-block;
}

#back_to_index div {
  background-size: 20px 20px;
  background-image: url(../img/back.png);
}

#help div {
  background-size: 20px 20px;
  background-image: url(../img/help.png);
}

#save_file div {
  background-size: 20px 20px;
  background-image: url(../img/download.png);
}

.CodeMirror {
  border: 1px solid #eee;
  height: 640px;
}

.CodeMirror-wrap pre {
  word-break: break-all;
}

#save_file {
  opacity: 0.5;
  cursor: default;
}

#save_file:hover {
  text-decoration: none;
}

#save_file.active {
  opacity: 1;
  cursor: pointer;
}

#save_file.active:hover {
  text-decoration: underline;
}
