*.blend[1-9]
*.pyc
*.jpg.dds
*.JPG.dds
*.jpeg.dds
*.JPEG.dds
*.png.dds
*.PNG.dds
*.bmp.dds
*.BMP.dds
*.gif.dds
*.GIF.dds
*.jpg.dds.gz
*.JPG.dds.gz
*.jpeg.dds.gz
*.JPEG.dds.gz
*.png.dds.gz
*.PNG.dds.gz
*.bmp.dds.gz
*.BMP.dds.gz
*.gif.dds.gz
*.GIF.dds.gz
*.jpg.pvr
*.JPG.pvr
*.jpeg.pvr
*.JPEG.pvr
*.png.pvr
*.PNG.pvr
*.bmp.pvr
*.BMP.pvr
*.gif.pvr
*.GIF.pvr
*.jpg.pvr.gz
*.JPG.pvr.gz
*.jpeg.pvr.gz
*.JPEG.pvr.gz
*.png.pvr.gz
*.PNG.pvr.gz
*.bmp.pvr.gz
*.BMP.pvr.gz
*.gif.pvr.gz
*.GIF.pvr.gz
*.min50.*
*.altconv.*
*.json.gz
*.bin.gz
*_tmp*
*.swp
*.js~
*.json~
*.mo
*.pvr
*.log
.doctrees
cache_dynamicpaint
.idea/
tags
deploy/doc
deploy/api_doc
deploy/pub
deploy/tmp
scripts/graph.svg
scripts/src_graph.gv
scripts/src_graph.svg
apps_dev/**/node_modules
projects/**/node_modules
tests/**/node_modules
apps_dev/**/virtualenv
projects/**/virtualenv
doctrees
latex
tmp
*.pot
*.html~
*.kra~
*-autosave.kra
*.tiff~
*.png~
*.jpeg~
*.jpg~
*.rst~
*.bphys
*.lock
node_modules/*
.DS_Store
uranium/ipc.js
dist/b4w.js
