body {
    background-color: #000;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

*:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}

div#main_canvas_container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

div#score {
   position: absolute;
   background-color: black;
   color: white;
   text-decoration: none;
   display: block;
   height: 30px;
   border: 3px solid white;
   text-align: center;
   font-family: Arial;
   border-radius: 5px;
   box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
   font-size: 15px;
   line-height: 30px;
   right: 100px;
   top: 10px;
   min-width: 40px;
}
