div#control_circle{
    position: absolute;
    background-image: url(interface/controls_150.png);
    width: 150px;
    height: 150px;
    visibility:hidden;
}

div#control_tap{
    position: absolute;
    background-image: url(interface/tap_50.png);
    width: 50px;
    height: 50px;
    visibility:hidden;
}

div#control_jump{
    position: absolute;
    right: 0px; bottom: 0px;
    background-image: url(interface/jump_100.png);
    margin:0px 10px 10px 0px;
    width: 100px;
    height: 100px;
    visibility:hidden;
}

*:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}