<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Export Project(s)</title>

    <link rel="shortcut icon" sizes="128x128" href="/index_assets/img/favicon_128.png" />
    <link rel="shortcut icon" sizes="196x196" href="/index_assets/img/favicon_196.png" />
    <link rel="shortcut icon" href="/index_assets/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="128x128" href="/index_assets/img/favicon_128.png" />
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/index_assets/img/favicon_128.png" />

    <link rel="stylesheet" type="text/css" href="/index_assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/index_assets/css/export_form.css">

    <script type="text/javascript">
        var _export_directory = "${export_dir}"; 
    </script>
    <script src="/index_assets/js/export_form.js" type="text/javascript"></script>
</head>

<body>
    <h1>Export Project(s)</h1>

    <div class="row">
        <form name="create_form" action="/project/export/" onsubmit="return false;">
            <table>
                <thead>
                    <tr>
                        <th colspan="4">
                            <a id="back_to_index" href="/project/"><div></div><span>Back to Projects</span></a>
                            <a id="show_hide_b4w" href="$show_hide_link"><div></div><span>$show_hide_text Stock Projects</span></a>
                            <a id="help" href="/deploy/doc/en/project_manager.html#export-projects"><div></div><span>Help</span></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="project">
                        <th>Select</th>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                    $content
                    <tr>
                        <td colspan=4 style="text-align: center">
                             Archive Name: <input type="text" size="15" value="project">.zip
                        </td>
                    </tr>
                    <tr>
                        <td colspan=4 style="text-align: center">
                            <button><div></div><span>Export Project(s)</span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>
