<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>Project Info</title>

<link rel="shortcut icon" sizes="128x128" href="/index_assets/img/favicon_128.png">
<link rel="shortcut icon" sizes="196x196" href="/index_assets/img/favicon_196.png">
<link rel="shortcut icon" href="/index_assets/img/favicon.ico">
<link rel="apple-touch-icon" sizes="128x128" href="/index_assets/img/favicon_128.png">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/index_assets/img/favicon_128.png">

<link rel="stylesheet" type="text/css" href="/index_assets/css/style.css">
<link rel="stylesheet" type="text/css" href="/index_assets/css/project_create.css">

<script src="/index_assets/js/create_form.js" type="text/javascript"></script>

</head>

<body>
    <h1>Project Info</h1>

    <div class="row">
        <table class="create">
            <thead>
                <tr>
                    <th colspan="2">
                        <a id="back_to_index" href="/project/"><div></div><span>Back to Projects</span></a>
                        <a id="help" href="/deploy/doc/en/project_manager.html#project-information"><div></div><span>Help</span></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="create">
                        <h2 title="[info] name = ${name}">Project Name</h2>
                    </td>
                    <td class="create">
                        $name
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[info] title = ${title}">Project Title</h2>
                    </td>
                    <td class="create">
                        $title
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[info] author = ${author}">Project Author / Company</h2>
                    </td>
                    <td class="create">
                        $author
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[info] icon = ${icon}">Project Icon</h2>
                    </td>
                    <td class="create">
                        $icon
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[compile] apps = ...">Applications</h2>
                    </td>
                    <td class="create">
                        $apps
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[compile] engine_type = ...">Engine Binding Type</h2>
                    </td>
                    <td class="create">
                        $engine_type
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="Calculated project size">Size</h2>
                    </td>
                    <td class="create">
                        $size Mb
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2>Project Path (Development Directory)</h2>
                    </td>
                    <td class="create">
                        $path
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2>Project Config</h2>
                    </td>
                    <td class="create">
                        $config_path
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[paths] build_dir = ...">Build Directory</h2>
                    </td>
                    <td class="create">
                        $build_dir
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[paths] blend_dirs = ...">Blend Directory(s)</h2>
                    </td>
                    <td class="create">
                        $blend_dirs
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[paths] assets_dirs = ...">Assets Directory(s)</h2>
                    </td>
                    <td class="create">
                        $assets_dirs
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[url_params]">URL Params</h2>
                    </td>
                    <td class="create">
                        $url_params
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[compile] optimization = ...">JavaScript Obfuscation Level</h2>
                    </td>
                    <td class="create">
                        $optimization 
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[compile] js_ignore = ...">JS Compilation Pass-Through List</h2>
                    </td>
                    <td class="create">
                        $js_ignore 
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[compile] css_ignore = ...">CSS Compilation Pass-Through List</h2>
                    </td>
                    <td class="create">
                        $css_ignore 
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[compile] ignore = ...">Build Ignore List</h2>
                    </td>
                    <td class="create">
                        $compilation_ignore 
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[deploy] assets_path_dest = ...">Deployment Assets Directory</h2>
                    </td>
                    <td class="create">
                        $assets_path_dest 
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[deploy] assets_path_prefix = ...">Deployment Assets URL Prefix</h2>
                    </td>
                    <td class="create">
                        $assets_path_prefix 
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2 title="[deploy] ignore = ...">Deployment Ignore List</h2>
                    </td>
                    <td class="create">
                        $deployment_ignore 
                    </td>
                </tr>
                <tr>
                    <td class="create" colspan=2 style="text-align: center">
                        <a id="back_to_index" href="/project/"><div></div><span>Back to Projects</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
