<tr>
  <td>
    <div class="input_group">
      <input type="checkbox" id="${id}" name="${name}">
      <label for="${id}" class="check"></label>
    </div>
  </td>
  <td>
    $name
  </td>
  <td>
    $title
  </td>
  <td>
    $author
  </td>
</tr>