<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>Create a new project</title>

<link rel="shortcut icon" sizes="128x128" href="/index_assets/img/favicon_128.png">
<link rel="shortcut icon" sizes="196x196" href="/index_assets/img/favicon_196.png">
<link rel="shortcut icon" href="/index_assets/img/favicon.ico">
<link rel="apple-touch-icon" sizes="128x128" href="/index_assets/img/favicon_128.png">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/index_assets/img/favicon_128.png">

<link rel="stylesheet" type="text/css" href="/index_assets/css/base.css">
<link rel="stylesheet" type="text/css" href="/index_assets/css/buttons.css">
<link rel="stylesheet" type="text/css" href="/index_assets/css/project_create.css">

</head>

<body>
  <h1>Create a new project</h1>
  <div class="btns_cont row">
    <div class="btn_wrapper">
      <a id="back_to_index" href="/project/" class="btn active"><span>Back to Projects</span></a>
      <a id="help" href="/deploy/doc/en/project_manager.html#create-new-project" class="btn active"><span>Help</span></a>
    </div>
  </div>
  <div class="row">
    <form name="create_form" action="/project/init/-b/${blender_exec}/" onsubmit="return false;">
        <table class="create">
            <tbody>
                <tr>
                    <td class="create">
                        <h2>Project Name (required)</h2>
                        <p class="create_hint">for better compatibility, use only letters and underscores</p>
                    </td>
                    <td class="create">
                        <input type="text" name="project_name" class="create" value="my_project" required>
                        <p id="exist_error">Project with such a name already exists.</p>
                        <p id="empty_error">Please, specify the project name.</p>
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2>Project Title (optional)</h2>
                        <p class="create_hint">choose a human-readable name</p>
                    </td>
                    <td class="create">
                        <input type="text" name="project_title" class="create">
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2>Project Author / Company (optional)</h2>
                        <p class="create_hint">choose a human-readable name</p>
                    </td>
                    <td class="create">
                        <input type="text" name="project_author" class="create">
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2>Create Application Starter Files</h2>
                        <p class="create_hint">create starter html/js/css files</p>
                    </td>
                    <td class="create">
                        <div class="input_group">
                            <input type="checkbox" id="project_copy_app_templates" name="project_copy_app_templates" checked>
                            <label for="project_copy_app_templates" class="check"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2>Create Scene Starter Files</h2>
                        <p class="create_hint">create starter blend/json/bin files</p>
                    </td>
                    <td class="create">
                        <div class="input_group">
                            <input type="checkbox" id="project_copy_scene_templates" name="project_copy_scene_templates" checked>
                            <label for="project_copy_scene_templates" class="check"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2>Use Material Library</h2>
                        <p class="create_hint">copy material library blend and asset files into your project directory</p>
                    </td>
                    <td class="create">
                        <div class="input_group">
                            <input type="checkbox" id="project_copy_mat_library" name="project_copy_mat_library">
                            <label for="project_copy_mat_library" class="check"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2>Copy Project Management Script</h2>
                        <p class="create_hint">simplifies project management for users who prefer using command line tools</p>
                    </td>
                    <td class="create">
                        <div class="input_group">
                            <input type="checkbox" id="project_copy_project_script" name="project_copy_project_script">
                            <label for="project_copy_project_script" class="check"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2>Application Type</h2>
                        <p class="create_hint">if unsure, leave the default value</p>
                        <p class="create_hint">see help for more info</p>
                    </td>
                    <td class="create">
                      <div class="custom_type row">
                        <h3>Custom Type</h3>
                        <div class="input_group">
                          <input type="radio" id="proj_copy" name="project_engine_type" value="copy" checked>
                          <label for="proj_copy" class="radio">Copy</label>
                        </div>
                        <div class="input_group">
                          <input type="radio" id="proj_compile" name="project_engine_type" value="compile">
                          <label for="proj_compile" class="radio">Compile</label>
                        </div>
                        <div class="input_group">
                          <input type="radio" id="proj_none" name="project_engine_type" value="none">
                          <label for="proj_none" class="radio">None</label>
                        </div>
                      </div>
                      <div class="webplayer_type row">
                        <h3>WebPlayer Type</h3>
                        <div class="input_group">
                          <input type="radio" id="proj_json" name="project_engine_type" value="webplayer_json">
                          <label for="proj_json" class="radio">Web Player JSON</label>
                        </div>
                        <div class="input_group">
                          <input type="radio" id="proj_html" name="project_engine_type" value="webplayer_html">
                          <label for="proj_html" class="radio">Web Player HTML</label>
                        </div>
                      </div>
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2>JavaScript Obfuscation Level</h2>
                        <p class="create_hint">if unsure, leave the default value</p>
                        <p class="create_hint">see help for more info</p>
                    </td>
                    <td class="create">
                        <div class="input_group">
                            <input type="radio" id="sim_lev" name="project_opt_level" value="simple" checked>
                            <label for="sim_lev" class="radio">Simple</label>
                        </div>
                        <div class="input_group">
                            <input type="radio" id="adv_lev" name="project_opt_level" value="advanced">
                            <label for="adv_lev" class="radio">Advanced</label>
                        </div>
                        <div class="input_group">
                            <input type="radio" id="white_lev" name="project_opt_level" value="whitespace">
                            <label for="white_lev" class="radio">Whitespace Only</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="create">
                        <h2>Web Player Params</h2>
                        <p class="create_hint">default Web Player URL params</p>
                    </td>
                    <td class="create">
                        <div class="input_group">
                            <input type="checkbox" id="wpp_show_fps" name="show_fps">
                            <label for="wpp_show_fps" class="check">Show FPS (show_fps)</label>
                            <input type="checkbox" id="wpp_autorotate" name="autorotate">
                            <label for="wpp_autorotate" class="check">Auto-rotate camera (autorotate)</label>
                            <input type="checkbox" id="wpp_no_social" name="no_social">
                            <label for="wpp_no_social" class="check">Disable social network buttons
                                    (no_social)</label>
                            <input type="checkbox" id="wpp_alpha" name="alpha">
                            <label for="wpp_alpha" class="check">Background transparency (alpha)</label>
                            <input type="checkbox" id="wpp_compressed_textures" name="compressed_textures">
                            <label for="wpp_compressed_textures" class="check">Use compressed textures
                                    (compressed_textures)</label>
                            <input type="checkbox" id="wpp_compressed_textures_pvr" name="compressed_textures_pvr">
                            <label for="wpp_compressed_textures_pvr" class="check">Use compressed textures pvr
                                    (compressed_textures_pvr)</label>
                            <input type="checkbox" id="wpp_min_capabilities" name="min_capabilities">
                            <label for="wpp_min_capabilities" class="check">Use min capabilities
                                    (min_capabilities)</label>
                            <input type="checkbox" id="wpp_compressed_gzip" name="compressed_gzip">
                            <label for="wpp_compressed_gzip" class="check">Use gzip compression
                                    (compressed_gzip)</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btns_cont">
          <div class="btn_wrapper">
            <button id="create_config" class="btn active"><span>Create Project</span></button>
          </div>
        </div>
    </form>
  </div>

  <script src="/index_assets/js/project_create.js" type="text/javascript" async defer></script>
</body>

</html>
