<tr>

<td>
    <form action="/project/upload_icon/" enctype="multipart/form-data"
            method="post" id="form_${name}" onsubmit="submit_cb(this); return false;">
        <label class="icon" title="">
            <img src="${icon}" title="Click to change app icon">
            <input type="file" accept="image/jpeg,image/png" name="proj_icon" id="file_${name}"/>
            <input type="hidden" name="proj_name" value="$name">
            <input type="hidden" name="proj_path" value="$path">
        </label>
    </form>
    <script type="text/javascript">
        var req_file = document.getElementById("file_${name}");
        req_file.addEventListener("change", function() {
            var form = document.getElementById("form_$name");
            form.submit();
        });
    </script>
</td>

<td>
    <span title="${title}">${name}</span>
    <a href="${info_url}" class="spoiler" title="Show project info">[info]</a>
    <a href="${edit_url}" class="spoiler" title="Edit project files">[edit]</a>
    ${apps}
</td>

<td>$proj</td>

<td>$blend_files</td>

<td>$json_files</td>

<td>$ops</td>

</tr>
