<tr>
  <td>
    <img src="${icon}">
  </td>
  <td>
    <span title="${title}">${name}</span>
    <a href="${info_url}" class="spoiler" title="Show project info">[info]</a>
    <a href="${edit_url}" class="spoiler" title="Edit project files">[edit]</a>
    <a href="${config_url}" class="spoiler" title="Config project">[config]</a>
    ${apps}
  </td>
  <td>$proj</td>
  <td>$blend_files</td>
  <td>$json_files</td>
  <td>$ops</td>
</tr>
