<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<title>Project Manager</title>

<link rel="shortcut icon" sizes="128x128" href="/index_assets/img/favicon_128.png">
<link rel="shortcut icon" sizes="196x196" href="/index_assets/img/favicon_196.png">
<link rel="shortcut icon" href="/index_assets/img/favicon.ico">
<link rel="apple-touch-icon" sizes="128x128" href="/index_assets/img/favicon_128.png">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/index_assets/img/favicon_128.png">

<link rel="stylesheet" type="text/css" href="/index_assets/css/base.css">
<link rel="stylesheet" type="text/css" href="/index_assets/css/buttons.css">
<link rel="stylesheet" type="text/css" href="/index_assets/css/request.css">

<script type="text/javascript">

var ws = new WebSocket("ws://" + location.host + "/console");

var _data_received = false;

ws.onopen = function() {
    _data_received = false;

    var c = document.getElementById("console");
    c.innerHTML = "Operation Pending...";
};

ws.onmessage = function(event) {
    var c = document.getElementById("console");

    if (!_data_received) {
        _data_received = true;
        c.innerHTML = "";
    }

    c.innerHTML += event.data;
    window.scrollTo(0, document.body.scrollHeight);
};

ws.onclose = function() {
    if ("${download_link}") {
        var request = document.querySelector(".request");

        var new_btn = request.cloneNode();
        new_btn.className = "btns_cont row"

        var wrap = request.cloneNode();
        wrap.className = "btn_wrapper";

        var link = document.createElement("a");
        link.className = "btn active";
        link.href = "${download_link}";

        var span = document.createElement("span");
        span.appendChild(document.createTextNode("Download"));

        link.appendChild(span);
        wrap.appendChild(link);
        new_btn.appendChild(wrap)
        request.parentElement.appendChild(new_btn);
    } else if ("${update_link}") {
        var request = document.querySelector(".request");

        var new_btn = request.cloneNode();
        new_btn.className = "btns_cont row"

        var wrap = request.cloneNode();
        wrap.className = "btn_wrapper";

        var link = document.createElement("a");
        link.className = "btn active";
        link.href = "${update_link}";

        var span = document.createElement("span");
        span.appendChild(document.createTextNode("Update Modules"));

        link.appendChild(span);
        wrap.appendChild(link);
        new_btn.appendChild(wrap)
        request.parentElement.appendChild(new_btn);
    }
};

</script>

</head>

<body>
  <h1>Project Manager</h1>
  <div class="btns_cont row">
    <div class="btn_wrapper">
      <a href="/project/" class="btn active"><span>Back to Projects</span></a>
    </div>
  </div>
  <div class="row request">
    <h2>Operation Report</h3>
    <p>Please carefully review the results of the operation:</p>
    <div class="console">
      <pre id="console"></pre>
    </div>
  </div>
</body>

</html>
