<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<title>Open Blender</title>

<link rel="shortcut icon" sizes="128x128" href="/index_assets/img/favicon_128.png">
<link rel="shortcut icon" sizes="196x196" href="/index_assets/img/favicon_196.png">
<link rel="shortcut icon" href="/index_assets/img/favicon.ico">
<link rel="apple-touch-icon" sizes="128x128" href="/index_assets/img/favicon_128.png">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/index_assets/img/favicon_128.png">

<link rel="stylesheet" type="text/css" href="/index_assets/css/base.css">

<script type="text/javascript">
function close_page() {
    setTimeout(function() {
        window.close();
    }, 1000);
}
</script>

</head>

<body onload="close_page()">
  <h3>Opening blender file...</h3>
</body>

</html>
