<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Blend4Web SDK</title>

    <link rel="shortcut icon" sizes="128x128" href="/index_assets/favicon_128.png" />
    <link rel="shortcut icon" sizes="196x196" href="/index_assets/favicon_196.png" />
    <link rel="shortcut icon" href="/index_assets/favicon.ico" />
    <link rel="apple-touch-icon" sizes="128x128" href="/index_assets/favicon_128.png" />
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/index_assets/favicon_128.png" />
    <link rel="stylesheet" type="text/css" href="/index_assets/css/style.css">
</head>

<body>
    <h3 class="back"><a href="/">Back to Index</a></h3>
    <table>
        <thead>
            <tr>
                <th colspan="6">
                    <h3>Projects <a href="/create/">[+new]</a></h3>
                </th>
            </tr>
            <tr class="doc">
                <th>Project Name / Links</th>
                <th>Project Dir / Deploy Dir</th>
                <th>Blend Files</th>
                <th>HTML Files</th>
                <th>JSON Files</th>
                <th>Request Operation</th>
            </tr>
        </thead>
        <tbody class="doc">
            $table_insert
        </tbody>
    </table>
</body>
</html>
