body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div#status_bar {
    position:absolute;
    height: 30px;
    top: 0px;
    left: 0px;
    z-index: 2;
}

div#control_panel {
    position:absolute;
    width: 70px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
}

div#hover_panel {
    position: absolute;
    background-image: url(icons/background_control.png);
    background-size: 100% 100%;
    width: 70px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

div#scroll_panel {
    position: absolute;
    width: 70px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

div#control_panel_over {
    position: absolute;
    width: 70px;
    right: 0px;
    top: 0px;
    margin: 0;
    bottom: 0px;
    overflow: hidden;
    z-index: 2;
}

div#main_canvas_container {
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
}

div.status_bar_info {
    position: relative;
    color: #fff;
    float: left;
    text-align: center;
    line-height: 160%;
}

div#status_bar_fps {
    width: 80px;
    height: 30px;
    background-image: url(icons/fps.png);
    font-family: Open Sans Semibold;
    font-size: 18px;
}

div#status_bar_resolution {
    width: 100px;
    height: 20px;
    background-image: url(icons/resolution.png);
    font-family: Open Sans;
    font-size: 12px;
    margin-left: -5px;
}


div#status_bar_loading {
    width: 110px;
    height: 20px;
    background-image: url(icons/load.png);
    font-family: Open Sans;
    font-size: 12px;
    margin-left: -5px;
}

/* control panel contents */
div.control_panel_button {
    width: 60px;
    border-radius: 10px;
    height: 60px;
    margin-top: 10px;
    margin-left: 5px;
    background-size: cover;
    z-index: 1;
}

div#fullscreen_button {
    background-image: url(icons/fullscreen.png);
}

div#auto_rotate_button {
    background-image: url(icons/auto_rotate.png);
}

div#low_mode_button {
    background-image: url(icons/low.png);
}

div#high_mode_button {
    background-image: url(icons/high.png);
}

div#ultra_mode_button {
    background-image: url(icons/ultra.png);
}

::-webkit-scrollbar {
    display: none;
}

div#glow {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 102px;
    background-position: center;
    padding-top: 7px;
    z-index: 0;
    position: absolute;
    background-image: url(icons/hover_glow.png);
    height: 92px;
    background-size: 102px;
    background-position: center;
}

@font-face {
    font-family: Open Sans;
    src: url(fonts/Open_Sans/OpenSans-Regular.woff);
}

@font-face {
    font-family: Open Sans Semibold;
    src: url(fonts/Open_Sans/OpenSans-Semibold.woff);
}

div#glow_down {
    width: 70px;
    height: 70px;
    background-size: 84px;
    background-position: center 18px;
    background-repeat: no-repeat;
    padding-top: 30px;
    background-image: url(icons/hover_glow.png);
    z-index: 1;
}

div.button_down {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 10px;
}

div#glow_active {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 102px;
    background-position: center;
    padding-top: 7px;
    z-index: 0;
    position: absolute;
    background-image: url(icons/active_glow.png);
    height: 92px;
    background-size: 102px;
    background-position: center;
}


div#background_image_container {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: rgba(38, 38, 38, 1.0);
}

div#background_image {
    position: absolute;
    width: 1000px;
    height: 680px;
    margin-left: -500px;
    margin-top: -340px;
    top: 50%;
    left: 50%;
    background-repeat: no-repeat;
}
