#main_canvas_cont {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;

  &.move {
    cursor: move;

    & * {
      cursor: inherit !important;
    }
  }
}