$easeIn:         cubic-bezier(0.420, 0.000, 1.000, 1.000);
$easeOut:        cubic-bezier(0.000, 0.000, 0.580, 1.000);
$easeInCubic:    cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic:   cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeDelay1: 0.5s;
$easeDelay2: 0.1s;