body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
    width: 100%;
}

table th {
    width: 67%;
}

table th:first-child {
    width: 33%;
}

table td pre {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    margin-top: 65px;
    margin-bottom: 30px;
    right: 0;
    width: 65%;
    word-wrap: normal;
    margin-right: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 3px;
}

table td:first-child pre {
    left: 0;
    margin-left: 10px;
    margin-right: 0;
    width: 35%;
}

table td pre.active code {
    -webkit-user-select: initial;
    -moz-user-select: -moz-all;
    -ms-user-select: text;
    user-select: text;
}

div#canvas_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div#schedule {
    position: absolute;
    z-index: 0;
    top: 30px;
    left: 30px;
}

@media screen and (max-height: 670px) {
    div#schedule {
        width: 400px;
    }

    div.container {
        float: left;
        margin-right: 20px;
    }
}

@media screen and (max-height: 420px) {
    div#schedule {
        width: 600px;
    }
}

div#interface {
    position: absolute;
    z-index: 0;
    bottom: 20px;
    left: 30px;
    width: 15%;
}

div#code_panel {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    top: 10%;
    bottom: 10%;
    left: 15%;
    right: 15%;
    background-color: white;
    overflow: hidden;
    border: 2px solid rgba(150, 150, 150, 0.7);
    box-shadow: 0px 0px 10px 0px rgba(150, 150, 150, 0.7);
}

a.text,
a.inv_text,
label.text {
    background-color: black;
    color: white;
    text-decoration: none;
    display: block;
    width: 170px;
    height: 26px;
    border: 2px solid white;
    text-align: center;
    font-family: Arial;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
    font-size: 15px;
    line-height: 25px;
}

a.inv_text {
    background-color: green;
    color: black;
}

a.text:hover,
label.text:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
}

a.inv_text:hover {
    background-color: #61ff61;
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(250, 250, 250, 1);
}

div.container {
    margin-bottom: 9px;
}

div#code_close {
    width: 27px;
    height: 27px;
    position: absolute;
    background-image: url(interface/close_but.png);
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    opacity: 0.5;
}

div#code_close:hover {
    opacity: 1;
}
