div#control_circle {
    position: absolute;
    background-image: url(interface/controls_150.png);
    width: 150px;
    height: 150px;
    visibility:hidden;
}

div#control_tap {
    position: absolute;
    background-image: url(interface/tap_50.png);
    width: 50px;
    height: 50px;
    visibility:hidden;
}

div#control_jump {
    position: absolute;
    right: 0px; bottom: 0px;
    background-image: url(interface/jump_100.png);
    margin:0px 10px 10px 0px;
    width: 100px;
    height: 100px;
    visibility:hidden;
}

div#life_bar {
    position: absolute;
    left: 0px; top: 0px;
    width: 256px;
    height: 40px;
}

div#life_bar_main {
    position: absolute;
    left: 0px; top: 0px;
    width: 256px;
    height: 40px;
    background-image: url(interface/life_bar_main.png);
}

div#life_bar_green {
    position: absolute;
    left: 19px; top: 15px;
    background-image: url(interface/life_bar_green.png);
    width: 192px;
    height: 10px;
}

div#life_bar_red {
    position: absolute;
    right: 45px; top: 15px;
    background-image: url(interface/life_bar_red.png);
    width: 0px;
    height: 10px;
}

div#life_bar_mid {
    position: absolute;
    left: 211px; top: 10px;
    background-image: url(interface/life_bar_mid.png);
    width: 4px;
    height: 20px;
}

*:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}