body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(interface/title_bg_en.png);
    background-repeat: no-repeat;
}

select {
    font-size: 30px;
}

div#start_menu {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 200px;
}

#start_menu>div {
    position: relative;
    width: 250px;
    height: 60px;
    font-size: 30px;
    color: #8b8b8b;
}

div #start_game {
    cursor: pointer;
}

div #quality {
    cursor: default;
}

div.languages_flag {
    position: absolute;
    height: 30px;
    width: 45px;
    cursor: pointer;
}

#languages_flag_ru {
    left: 0px;
    background: url("interface/flag_ru.png");
}

#languages_flag_en {
    left: 55px;
    background: url("interface/flag_en.png");
}

div#control_circle {
    position: absolute;
    background-image: url(interface/controls_150.png);
    width: 150px;
    height: 150px;
    visibility:hidden;
}

div#control_tap {
    position: absolute;
    background-image: url(interface/tap_50.png);
    width: 50px;
    height: 50px;
    visibility:hidden;
}

div#control_jump {
    position: absolute;
    right: 0px; bottom: 0px;
    background-image: url(interface/jump_100.png);
    margin:0px 10px 10px 0px;
    width: 100px;
    height: 100px;
    visibility:hidden;
}

div#life_bar {
    position: absolute;
    left: 0px; top: 0px;
    width: 256px;
    height: 40px;
    visibility:hidden;
}

div#life_bar_main {
    position: absolute;
    left: 0px; top: 0px;
    width: 256px;
    height: 40px;
    background-image: url(interface/life_bar_main.png);
}

div#life_bar_green {
    position: absolute;
    left: 19px; top: 15px;
    background-image: url(interface/life_bar_green.png);
    width: 192px;
    height: 10px;
}

div#life_bar_red {
    position: absolute;
    right: 45px; top: 15px;
    background-image: url(interface/life_bar_red.png);
    width: 0px;
    height: 10px;
}

div#life_bar_mid {
    position: absolute;
    left: 211px; top: 10px;
    background-image: url(interface/life_bar_mid.png);
    width: 4px;
    height: 20px;
}

div#life_bar_mid {
    position: absolute;
    left: 211px; top: 10px;
    background-image: url(interface/life_bar_mid.png);
    width: 4px;
    height: 20px;
}

div#canvas3d {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility:hidden;
}

div#replay {
    position: absolute;
    left: 50%; top: 50%;
    background-image: url(interface/replay.png);
    width: 256px;
    height: 256px;
    margin-left: -128px;
    margin-top: -128px;
    visibility:hidden;
}

div#victory {
    position: absolute;
    left: 50%; top: 50%;
    background-image: url(interface/win.png);
    width: 256px;
    height: 256px;
    margin-left: -128px;
    margin-top: -128px;
    visibility:hidden;
}

div#preloader_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    visibility:hidden;
}

div#prelod_static_path {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -107px;
    margin-top: -20px;
    width: 215px;
    height: 40px;
    text-align: center;
    background-image: url(interface/loader_bar_background.svg);
}

div#prelod_dynamic_path {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 40px;
    background-image: url(interface/loader_bar_line.svg);
}

div#prelod_static_path > span {
    display: inline-block;
    margin-top: 36px;
    font-size: 28px;
    color: #fff;
    font-family: arial;
}

div#game_menu {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -150px;
    width: 300px;
    height: 450px;
    background-image: url("interface/game_menu.png");
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
}

#game_menu div {
    position: relative;
    top: 20%;
    left: 20%;
    width: 250px;
    height: 60px;
    font-size: 50px;
    cursor: pointer;
}

#credits_panel {
    background-image: url("interface/credits.png");
}

#help_panel {
    background-image: url("interface/help.png");
}

.additional_panel {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    width: 500px;
    height: 500px;
    visibility: hidden;
}

